# 网络超时设置（单位：毫秒）
fetch-timeout=120000
fetch-retries=5
fetch-retry-mintimeout=30000
fetch-retry-maxtimeout=120000

# 如果默认源仍然太慢，可以取消下一行注释，使用淘宝镜像源
# registry=https://registry.npmmirror.com

# pnpm 允许构建的依赖
pnpm.onlyBuiltDependencies[]=core-js-pure
pnpm.onlyBuiltDependencies[]=sharp
